In [1]:
import pandas as pd

In [2]:
data_path='TRAIN_Reco_2021_2022_2023.csv'
df=pd.read_csv(data_path)
df.head(100)

                ExecutionTime       ID  high    low  close  volume
0   2021-01-06 21:45:00+01:00  Fri00Q1   0.0   0.00   0.00   0.000
1   2021-01-06 22:00:00+01:00  Fri00Q1   0.0   0.00   0.00   0.000
2   2021-01-06 22:15:00+01:00  Fri00Q1   0.0   0.00   0.00   0.000
3   2021-01-06 22:30:00+01:00  Fri00Q1   0.0   0.00   0.00   0.000
4   2021-01-06 22:45:00+01:00  Fri00Q1   0.0   0.00   0.00   0.000
..                        ...      ...   ...    ...    ...     ...
95  2021-01-07 21:30:00+01:00  Fri00Q1  63.5  62.60  63.24   2.425
96  2021-01-07 21:45:00+01:00  Fri00Q1  64.5  62.14  62.14   9.200
97  2021-01-07 22:00:00+01:00  Fri00Q1  63.5  62.06  63.50   2.975
98  2021-01-07 22:15:00+01:00  Fri00Q1  64.2  62.42  62.42  19.450
99  2021-01-07 22:30:00+01:00  Fri00Q1  63.8  59.70  63.80  15.000

[100 rows x 6 columns]

In [3]:
df.shape

(69805344, 6)

In [4]:
stock_data=df
filtered_data_sample = stock_data[
    ~((stock_data['high'] == 0) & 
      (stock_data['low'] == 0) & 
      (stock_data['close'] == 0) & 
      (stock_data['volume'] == 0))
]

# Convert ExecutionTime to datetime to check time intervals
filtered_data_sample['ExecutionTime'] = pd.to_datetime(filtered_data_sample['ExecutionTime'])

# Calculate time differences between consecutive rows
filtered_data_sample['TimeDiff'] = filtered_data_sample['ExecutionTime'].diff()

# Show the first few rows of the filtered data and check time intervals
filtered_data_sample[['ExecutionTime', 'TimeDiff']].head(), filtered_data_sample[['ExecutionTime', 'TimeDiff']].tail()

C:\Users\wuzhu\AppData\Local\Temp\ipykernel_14164\4061648307.py:10: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  filtered_data_sample['ExecutionTime'] = pd.to_datetime(filtered_data_sample['ExecutionTime'])
C:\Users\wuzhu\AppData\Local\Temp\ipykernel_14164\4061648307.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data_sample['ExecutionTime'] = pd.to_datetime(filtered_data_sample['ExecutionTime'])
C:\Users\wuzhu\AppData\Local\Temp\ipykernel_14164\4061648307.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data_sample['TimeDiff'] = filtered_data_sample['ExecutionTime'].diff()

(                ExecutionTime        TimeDiff
 90  2021-01-07 20:15:00+01:00             NaT
 91  2021-01-07 20:30:00+01:00 0 days 00:15:00
 92  2021-01-07 20:45:00+01:00 0 days 00:15:00
 93  2021-01-07 21:00:00+01:00 0 days 00:15:00
 94  2021-01-07 21:15:00+01:00 0 days 00:15:00,
                       ExecutionTime        TimeDiff
 69804958  2023-12-20 22:30:00+01:00 0 days 00:15:00
 69804959  2023-12-20 22:45:00+01:00 0 days 00:15:00
 69804960  2023-12-20 23:00:00+01:00 0 days 00:15:00
 69804961  2023-12-20 23:15:00+01:00 0 days 00:15:00
 69804962  2023-12-20 23:30:00+01:00 0 days 00:15:00)

In [5]:
filtered_data_sample.shape

(8152372, 7)

After removing the rows with zero values, the time intervals remain consistent at 15-minute intervals between consecutive rows, which aligns with the original time granularity of the dataset.
This suggests that deleting the zero rows does not disrupt the regularity of the time series, and time series analysis should not be affected by this filtering in terms of time intervals.

In [7]:
# Convert the float64 columns ('high', 'low', 'close', 'volume') to float16 to save memory
filtered_data_sample[['high', 'low', 'close', 'volume']] = filtered_data_sample[['high', 'low', 'close', 'volume']].astype('float16')

C:\Users\wuzhu\AppData\Local\Temp\ipykernel_14164\1121450289.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data_sample[['high', 'low', 'close', 'volume']] = filtered_data_sample[['high', 'low', 'close', 'volume']].astype('float16')

In [8]:
filtered_data_sample.head(10)

,ExecutionTime,ID,high,low,close,volume,TimeDiff
90,2021-01-07 20:15:00+01:00,Fri00Q1,57.28125,55.18750,57.28125,1.125000,NaT
91,2021-01-07 20:30:00+01:00,Fri00Q1,61.90625,59.68750,61.31250,5.148438,0 days 00:15:00
92,2021-01-07 20:45:00+01:00,Fri00Q1,61.90625,59.68750,61.31250,0.000000,0 days 00:15:00
93,2021-01-07 21:00:00+01:00,Fri00Q1,59.93750,56.09375,56.09375,0.199951,0 days 00:15:00
94,2021-01-07 21:15:00+01:00,Fri00Q1,63.75000,61.00000,63.46875,2.525391,0 days 00:15:00
95,2021-01-07 21:30:00+01:00,Fri00Q1,63.50000,62.59375,63.25000,2.425781,0 days 00:15:00
96,2021-01-07 21:45:00+01:00,Fri00Q1,64.50000,62.12500,62.12500,9.203125,0 days 00:15:00
97,2021-01-07 22:00:00+01:00,Fri00Q1,63.50000,62.06250,63.50000,2.974609,0 days 00:15:00
98,2021-01-07 22:15:00+01:00,Fri00Q1,64.18750,62.40625,62.40625,19.453125,0 days 00:15:00
99,2021-01-07 22:30:00+01:00,Fri00Q1,63.81250,59.68750,63.81250,15.000000,0 days 00:15:00

In [9]:
filtered_data_sample.to_csv('training_set_filtered.csv')

In [2]:
import pandas as pd

In [5]:
data_path2='TEST_Reco_2024.csv'
df2=pd.read_csv(data_path2)
df2.head()

               ExecutionTime       ID  high  low  close  volume
0  2024-01-06 20:30:00+01:00  Fri00Q1   0.0  0.0    0.0     0.0
1  2024-01-06 20:45:00+01:00  Fri00Q1   0.0  0.0    0.0     0.0
2  2024-01-06 21:00:00+01:00  Fri00Q1   0.0  0.0    0.0     0.0
3  2024-01-06 21:15:00+01:00  Fri00Q1   0.0  0.0    0.0     0.0
4  2024-01-06 21:30:00+01:00  Fri00Q1   0.0  0.0    0.0     0.0

In [7]:
filtered_data_test = df2[
    ~((df2['high'] == 0) & 
      (df2['low'] == 0) & 
      (df2['close'] == 0) & 
      (df2['volume'] == 0))
]

# Convert ExecutionTime to datetime to check time intervals
filtered_data_test['ExecutionTime'] = pd.to_datetime(filtered_data_test['ExecutionTime'])

# Calculate time differences between consecutive rows
filtered_data_test['TimeDiff'] = filtered_data_test['ExecutionTime'].diff()

# Show the first few rows of the filtered data and check time intervals
filtered_data_test[['ExecutionTime', 'TimeDiff']].head(), filtered_data_test[['ExecutionTime', 'TimeDiff']].tail()

C:\Users\wuzhu\AppData\Local\Temp\ipykernel_25852\1492910593.py:9: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  filtered_data_test['ExecutionTime'] = pd.to_datetime(filtered_data_test['ExecutionTime'])
C:\Users\wuzhu\AppData\Local\Temp\ipykernel_25852\1492910593.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data_test['ExecutionTime'] = pd.to_datetime(filtered_data_test['ExecutionTime'])
C:\Users\wuzhu\AppData\Local\Temp\ipykernel_25852\1492910593.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data_test['TimeDiff'] = filtered_data_test['ExecutionTime'].diff()

(                 ExecutionTime        TimeDiff
 463  2024-01-11 16:15:00+01:00             NaT
 464  2024-01-11 16:30:00+01:00 0 days 00:15:00
 465  2024-01-11 16:45:00+01:00 0 days 00:15:00
 466  2024-01-11 17:00:00+01:00 0 days 00:15:00
 467  2024-01-11 17:15:00+01:00 0 days 00:15:00,
                       ExecutionTime        TimeDiff
 14648251  2024-08-20 21:45:00+02:00 0 days 00:15:00
 14648252  2024-08-20 22:00:00+02:00 0 days 00:15:00
 14648253  2024-08-20 22:15:00+02:00 0 days 00:15:00
 14648254  2024-08-20 22:30:00+02:00 0 days 00:15:00
 14648255  2024-08-20 22:45:00+02:00 0 days 00:15:00)

In [8]:
# Convert the float64 columns ('high', 'low', 'close', 'volume') to float16 to save memory
filtered_data_test[['high', 'low', 'close', 'volume']] = filtered_data_test[['high', 'low', 'close', 'volume']].astype('float16')

C:\Users\wuzhu\AppData\Local\Temp\ipykernel_25852\4082743785.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data_test[['high', 'low', 'close', 'volume']] = filtered_data_test[['high', 'low', 'close', 'volume']].astype('float16')

In [9]:
filtered_data_test.to_csv('testing_set_filtered.csv')